<ul id="stations">
  <% @stations.each do |station| %>
    <li>
      <%= link_to "#{station['abbr']}", station_path(station['abbr']), id: station['abbr'] %>
      <%= " - #{station['name']}"%>
    </li>
  <% end %>
</ul>
