<h1><%= "#{@station[:name]} (#{@station[:abbr]})" %></h1>

<% @station[:destinations].each do |destination| %>
  <div class="destination">
    <!-- <input type="checkbox"/> -->
    <h2 class="inline"><%= "#{destination[:name]} (#{destination[:abbr]})" %></h2>
    <ul>
      <%= render partial: 'estimate', collection: destination[:estimates] %>
    </ul>
  </div>
<% end %>
