<h1><%= "#{@departures[:name]} (#{@departures[:abbr]})" %></h1>

<% @departures[:destinations].each do |destination| %>
  <h2><%= "#{destination[:name]} (#{destination[:abbr]})" %></h2>
  <ul>
    <%= render partial: 'estimate', collection: destination[:estimates] %>
  </ul>
<% end %>
