<h1><%= "#{@station[:name]} (#{@station[:abbr]})" %></h1>

<% @station[:destinations].each do |destination| %>
  <h1><%= "#{destination[:name]} (#{destination[:abbr]})" %></h1>
  <ul>
    <%= render partial: 'estimate', collection: destination[:estimates] %>
  </ul>
<% end %>
