.inner        { padding: $spacing; }
.inner-top    { padding-top: $spacing; }
.inner-left   { padding-left: $spacing; }
.inner-right  { padding-right: $spacing; }
.inner-bottom { padding-bottom: $spacing; }

.inline { display: inline-block; }
